.btnCart, .btnQuantity {
    width: 30px;
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-right: 2px;
    background-color: green;
    color: white;
    font-size:large;
    
}
.delIcon{
    font-size: larger;
    color: white;
    background-color: rgb(177, 39, 39);
}

.delIcon:hover{
    font-size: larger;
    background-color: white;
    color: rgb(177, 39, 39);
}

.total{
    background-color: slategray;
}
  